.icon-button {
  background: none;
  border:none;
  text-align: center;
}
.c-link {
  cursor: pointer;
}
.start-page {
  height: 300px;
  line-height: 300px;
  font-size: 30px;
  color:#cccccc;
  text-align: center;
}
.left-panel,.right-panel{
  min-height:100vh;
  position: relative;
}
.button-group {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.no-border {
  border-radius: 0 !important;
}
.right-panel {
  position: relative;
}
.CodeMirror-scroll {
  height: 68vh !important;
}
.sync-status {
  font-size: 12px;
  color: #959694;
  position: absolute;
  bottom: 12px;
  left: 10px;
}
